<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>게시판 메인 페이지</h1>
    <button id="boardWritePopupOpen">게시글쓰기</button>
    <script src="/app/dist/event.js"></script>
</body>
</html>