<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>리포터</h1>
    <button id="reportWriteBtn">보고서 작성</button>
    <table>
        <thead>
            <th></th>
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
        </thead>
        <tbody>
            <td><input type="checkbox"></td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
        </tbody>
    </table>
    <script src="/app/dist/event.js"></script>
</body>
</html>