<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<HWPML Style="embed" SubVersion="8.0.0.0" Version="2.8">
	<HEAD SecCnt="1">
		<DOCSUMMARY>
			<AUTHOR></AUTHOR>
			<DATE></DATE>
		</DOCSUMMARY>
		<DOCSETTING>
			<BEGINNUMBER Endnote="1" Equation="1" Footnote="1" Page="1" Picture="1" Table="1" />
			<CARETPOS List="0" Para="33" Pos="27" />
		</DOCSETTING>
		<MAPPINGTABLE>
			<BINDATALIST Count="{{!--!--imageItems.length----}}">
                {{!--#imageItems--}}
				    <BINITEM BinData="{{!--id--}}" Format="png" Type="Embedding" />
                {{!--/imageItems--}}
			</BINDATALIST>
			<FACENAMELIST>
				<FONTFACE Count="7" Lang="Hangul">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼고딕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="5" Name="한양신명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="6" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="한컴바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
				<FONTFACE Count="8" Lang="Latin">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="한양신명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="5" Name="HCI Hollyhock" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="2" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="6" Name="HCI Poppy" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="7" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="한컴바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
				<FONTFACE Count="7" Lang="Hanja">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="한양신명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="5" Name="한양중고딕" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="2" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="6" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="함초롬바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
				<FONTFACE Count="7" Lang="Japanese">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="한양신명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="5" Name="한양중고딕" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="2" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="6" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="한컴바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
				<FONTFACE Count="6" Lang="Other">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="한양신명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="5" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="한컴바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
				<FONTFACE Count="7" Lang="Symbol">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="한양신명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="5" Name="한양중고딕" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="2" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="6" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="한컴바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
				<FONTFACE Count="6" Lang="User">
					<FONT Id="0" Name="함초롬돋움" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="1" Name="함초롬바탕" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="2" Name="휴먼명조" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="4" StrokeVariation="1" Weight="5" XHeight="1" />
					</FONT>
					<FONT Id="3" Name="HY헤드라인M" Type="ttf">
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
					<FONT Id="4" Name="명조" Type="hft">
						<TYPEINFO ArmStyle="0" Contrast="0" FamilyType="1" Letterform="0" Midline="0" Proportion="0" StrokeVariation="0" Weight="0" XHeight="0" />
					</FONT>
					<FONT Id="5" Name="HY헤드라인B" Type="ttf">
						<SUBSTFONT Name="한컴바탕" Type="ttf" />
						<TYPEINFO ArmStyle="1" Contrast="0" FamilyType="2" Letterform="1" Midline="1" Proportion="0" StrokeVariation="1" Weight="6" XHeight="1" />
					</FONT>
				</FONTFACE>
			</FACENAMELIST>
			<BORDERFILLLIST Count="25">
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="1" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.1mm" />
					<RIGHTBORDER Type="None" Width="0.1mm" />
					<TOPBORDER Type="None" Width="0.1mm" />
					<BOTTOMBORDER Type="None" Width="0.1mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
					<FILLBRUSH>
						<WINDOWBRUSH Alpha="0" FaceColor="4294967295" HatchColor="4278190080" />
					</FILLBRUSH>
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="2" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="3" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.12mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="4" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="5" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.5mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="6" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="7" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.5mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="8" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="None" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.5mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="9" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="10" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="None" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="11" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="12" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="None" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="13" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Dot" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="14" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Dot" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="15" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="None" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Dot" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="16" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Dot" Width="0.12mm" />
					<BOTTOMBORDER Type="Dot" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="17" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Dot" Width="0.12mm" />
					<BOTTOMBORDER Type="Dot" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="18" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="None" Width="0.12mm" />
					<TOPBORDER Type="Dot" Width="0.12mm" />
					<BOTTOMBORDER Type="Dot" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="19" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="None" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Dot" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="20" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Dot" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="21" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="None" Width="0.12mm" />
					<TOPBORDER Type="Dot" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="22" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.5mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="23" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.5mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.12mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="24" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.5mm" />
					<RIGHTBORDER Type="Solid" Width="0.12mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
				<BORDERFILL BackSlash="0" BreakCellSeparateLine="0" CenterLine="0" CounterBackSlash="0" CounterSlash="0" CrookedSlash="0" Id="25" Shadow="false" Slash="0" ThreeD="false">
					<LEFTBORDER Type="Solid" Width="0.12mm" />
					<RIGHTBORDER Type="Solid" Width="0.5mm" />
					<TOPBORDER Type="Solid" Width="0.12mm" />
					<BOTTOMBORDER Type="Solid" Width="0.5mm" />
					<DIAGONAL Type="Solid" Width="0.1mm" />
				</BORDERFILL>
			</BORDERFILLLIST>
			<CHARSHAPELIST Count="26">
				<CHARSHAPE BorderFillId="1" Height="2000" Id="0" ShadeColor="4294967295" SymMark="0" TextColor="16711680" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="6" Hanja="6" Japanese="6" Latin="7" Other="5" Symbol="6" User="5" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1000" Id="1" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="1" Hanja="1" Japanese="1" Latin="1" Other="1" Symbol="1" User="1" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1000" Id="2" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="900" Id="3" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="900" Id="4" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="1" Hanja="1" Japanese="1" Latin="1" Other="1" Symbol="1" User="1" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="900" Id="5" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="-5" Hanja="-5" Japanese="-5" Latin="-5" Other="-5" Symbol="-5" User="-5" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="6" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="5" Hanja="4" Japanese="4" Latin="4" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<BOLD />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="2000" Id="7" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="6" Hanja="6" Japanese="6" Latin="7" Other="5" Symbol="6" User="5" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1600" Id="8" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="1" Hanja="1" Japanese="1" Latin="1" Other="1" Symbol="1" User="1" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1000" Id="9" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="5" Hanja="4" Japanese="4" Latin="4" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="4000" Id="10" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="4" Hanja="3" Japanese="3" Latin="3" Other="3" Symbol="3" User="3" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="11" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="5" Hanja="4" Japanese="4" Latin="4" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="0" Height="1200" Id="12" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="2" Hanja="5" Japanese="5" Latin="5" Other="1" Symbol="5" User="1" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<BOLD />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="13" ShadeColor="4294967295" SymMark="0" TextColor="255" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="5" Hanja="4" Japanese="4" Latin="4" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1600" Id="14" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="5" Hanja="4" Japanese="4" Latin="4" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<BOLD />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="15" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="2" Japanese="2" Latin="2" Other="2" Symbol="2" User="2" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="16" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="4" Japanese="4" Latin="6" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="17" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="4" Japanese="4" Latin="6" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<BOLD />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="2000" Id="18" ShadeColor="4294967295" SymMark="0" TextColor="255" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="6" Hanja="6" Japanese="6" Latin="7" Other="5" Symbol="6" User="5" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1300" Id="19" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="2" Japanese="2" Latin="2" Other="2" Symbol="2" User="2" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="20" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="4" Japanese="4" Latin="6" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<BOLD />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1100" Id="21" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="4" Japanese="4" Latin="6" Other="4" Symbol="4" User="4" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<BOLD />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1100" Id="22" ShadeColor="4294967295" SymMark="0" TextColor="0" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="2" Japanese="2" Latin="2" Other="2" Symbol="2" User="2" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1700" Id="23" ShadeColor="4294967295" SymMark="0" TextColor="16711680" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="6" Hanja="6" Japanese="6" Latin="7" Other="5" Symbol="6" User="5" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1500" Id="24" ShadeColor="4294967295" SymMark="0" TextColor="16711680" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="2" Japanese="2" Latin="2" Other="2" Symbol="2" User="2" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
				<CHARSHAPE BorderFillId="1" Height="1300" Id="25" ShadeColor="4294967295" SymMark="0" TextColor="16711680" UseFontSpace="false" UseKerning="false">
					<FONTID Hangul="3" Hanja="2" Japanese="2" Latin="2" Other="2" Symbol="2" User="2" />
					<RATIO Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHARSPACING Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
					<RELSIZE Hangul="100" Hanja="100" Japanese="100" Latin="100" Other="100" Symbol="100" User="100" />
					<CHAROFFSET Hangul="0" Hanja="0" Japanese="0" Latin="0" Other="0" Symbol="0" User="0" />
				</CHARSHAPE>
			</CHARSHAPELIST>
			<TABDEFLIST Count="2">
				<TABDEF AutoTabLeft="false" AutoTabRight="false" Id="0" />
				<TABDEF AutoTabLeft="true" AutoTabRight="false" Id="1" />
			</TABDEFLIST>
			<NUMBERINGLIST Count="1">
				<NUMBERING Id="1" Start="0">
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="1" NumFormat="Digit" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">^1.</PARAHEAD>
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="2" NumFormat="HangulSyllable" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">^2.</PARAHEAD>
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="3" NumFormat="Digit" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">^3)</PARAHEAD>
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="4" NumFormat="HangulSyllable" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">^4)</PARAHEAD>
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="5" NumFormat="Digit" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">(^5)</PARAHEAD>
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="6" NumFormat="HangulSyllable" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">(^6)</PARAHEAD>
					<PARAHEAD Alignment="Left" AutoIndent="true" Level="7" NumFormat="CircledDigit" Start="1" TextOffset="50" TextOffsetType="percent" UseInstWidth="true" WidthAdjust="0">^7</PARAHEAD>
				</NUMBERING>
			</NUMBERINGLIST>
			<PARASHAPELIST Count="22">
				<PARASHAPE Align="Left" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="false" Condense="0" FontLineHeight="false" HeadingType="None" Id="0" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="130" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="1" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="-2620" Left="0" LineSpacing="130" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="false" Condense="0" FontLineHeight="false" HeadingType="None" Id="2" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="150" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="3" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="4" KeepLines="false" KeepWithNext="false" Level="6" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="14000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="5" KeepLines="false" KeepWithNext="false" Level="5" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="12000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="6" KeepLines="false" KeepWithNext="false" Level="4" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="10000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="7" KeepLines="false" KeepWithNext="false" Level="3" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="8000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="8" KeepLines="false" KeepWithNext="false" Level="2" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="6000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="9" KeepLines="false" KeepWithNext="false" Level="1" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="4000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="Outline" Id="10" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="2000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="11" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="3000" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Center" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="false" Condense="0" FontLineHeight="false" HeadingType="None" Id="12" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Center" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="false" Condense="0" FontLineHeight="false" HeadingType="None" Id="13" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="14" KeepLines="false" KeepWithNext="false" Level="3" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="-21988" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="None" Id="15" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="180" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="None" Id="16" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="180" LineSpacingType="Percent" Next="1000" Prev="1000" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="17" KeepLines="false" KeepWithNext="false" Level="3" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="1" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="-23460" Left="0" LineSpacing="200" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Distribute" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="18" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Center" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="false" Condense="0" FontLineHeight="false" HeadingType="None" Id="19" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="-6024" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="0" FontLineHeight="false" HeadingType="None" Id="20" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="-6024" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
				<PARASHAPE Align="Justify" AutoSpaceEAsianEng="false" AutoSpaceEAsianNum="false" BreakLatinWord="KeepWord" BreakNonLatinWord="true" Condense="20" FontLineHeight="false" HeadingType="None" Id="21" KeepLines="false" KeepWithNext="false" Level="0" LineWrap="Break" PageBreakBefore="false" SnapToGrid="true" TabDef="0" VerAlign="Baseline" WidowOrphan="false">
					<PARAMARGIN Indent="0" Left="0" LineSpacing="160" LineSpacingType="Percent" Next="0" Prev="0" Right="0" />
					<PARABORDER BorderFill="1" Connect="false" IgnoreMargin="false" />
				</PARASHAPE>
			</PARASHAPELIST>
			<STYLELIST Count="16">
				<STYLE CharShape="1" EngName="Normal" Id="0" LangId="1042" LockForm="0" Name="바탕글" NextStyle="0" ParaShape="3" Type="Para" />
				<STYLE CharShape="1" EngName="Body" Id="1" LangId="1042" LockForm="0" Name="본문" NextStyle="1" ParaShape="11" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 1" Id="2" LangId="1042" LockForm="0" Name="개요 1" NextStyle="2" ParaShape="10" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 2" Id="3" LangId="1042" LockForm="0" Name="개요 2" NextStyle="3" ParaShape="9" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 3" Id="4" LangId="1042" LockForm="0" Name="개요 3" NextStyle="4" ParaShape="8" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 4" Id="5" LangId="1042" LockForm="0" Name="개요 4" NextStyle="5" ParaShape="7" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 5" Id="6" LangId="1042" LockForm="0" Name="개요 5" NextStyle="6" ParaShape="6" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 6" Id="7" LangId="1042" LockForm="0" Name="개요 6" NextStyle="7" ParaShape="5" Type="Para" />
				<STYLE CharShape="1" EngName="Outline 7" Id="8" LangId="1042" LockForm="0" Name="개요 7" NextStyle="8" ParaShape="4" Type="Para" />
				<STYLE CharShape="2" EngName="Page Number" Id="9" LangId="1042" LockForm="0" Name="쪽 번호" NextStyle="0" Type="Char" />
				<STYLE CharShape="3" EngName="Header" Id="10" LangId="1042" LockForm="0" Name="머리말" NextStyle="10" ParaShape="2" Type="Para" />
				<STYLE CharShape="4" EngName="Footnote" Id="11" LangId="1042" LockForm="0" Name="각주" NextStyle="11" ParaShape="1" Type="Para" />
				<STYLE CharShape="4" EngName="Endnote" Id="12" LangId="1042" LockForm="0" Name="미주" NextStyle="12" ParaShape="1" Type="Para" />
				<STYLE CharShape="5" EngName="Memo" Id="13" LangId="1042" LockForm="0" Name="메모" NextStyle="13" ParaShape="0" Type="Para" />
				<STYLE CharShape="14" Id="14" LangId="1042" LockForm="1" Name="두번" NextStyle="14" ParaShape="16" Type="Para" />
				<STYLE CharShape="11" Id="15" LangId="1042" LockForm="1" Name="개용 ❍" NextStyle="15" ParaShape="14" Type="Para" />
			</STYLELIST>
		</MAPPINGTABLE>
		<COMPATIBLEDOCUMENT TargetProgram="None">
			<LAYOUTCOMPATIBILITY AdjustBaselineInFixedLinespacing="false" AdjustLineheightToFont="false" AdjustParaBorderOffsetWithBorder="false" AdjustParaBorderfillToSpacing="false" ApplyAtLeastToPercent100Pct="false" ApplyCharSpacingToCharGrid="false" ApplyExtendHeaderFooterEachSection="false" ApplyFontWeightToBold="false" ApplyFontspaceToLatin="false" ApplyNextspacingOfLastPara="false" ApplyParaBorderToOutside="false" ApplyPrevspacingBeneathObject="false" BaseCharUnitOfIndentOnFirstChar="false" BaseCharUnitOnEAsian="false" BaseLinespacingOnLinegrid="false" ConnectParaBorderfillOfEqualBorder="false" DoNotAdjustEmptyAnchorLine="false" DoNotAdjustWordInJustify="false" DoNotAlignWhitespaceOnRight="false" DoNotApplyAutoSpaceEAsianEng="false" DoNotApplyAutoSpaceEAsianNum="false" DoNotApplyExtensionCharCompose="false" DoNotApplyGridInHeaderFooter="false" DoNotApplyImageEffect="false" DoNotApplyShapeComment="false" DoNotApplyStrikeoutWithUnderline="false" DoNotApplyVertOffsetOfForward="false" DoNotFormattingAtBeneathAnchor="false" DoNotHoldAnchorOfTable="false" ExtendLineheightToOffset="false" ExtendLineheightToParaBorderOffset="false" ExtendVertLimitToPageMargins="false" FixedUnderlineWidth="false" OverlapBothAllowOverlap="false" TreatQuotationAsLatin="false" UseInnerUnderline="false" UseLowercaseStrikeout="false" />
		</COMPATIBLEDOCUMENT>
	</HEAD>
	<BODY>
		<SECTION Id="0">
			<P ColumnBreak="false" PageBreak="false" ParaShape="12" Style="0">
				<TEXT CharShape="7">
					<SECDEF CharGrid="0" FirstBorder="false" FirstFill="false" LineGrid="0" OutlineShape="1" SpaceColumns="1134" TabStop="8000" TextDirection="0" TextVerticalWidthHead="0">
						<STARTNUMBER Equation="0" Figure="0" Page="0" PageStartsOn="Both" Table="0" />
						<HIDE Border="false" EmptyLine="false" Fill="false" Footer="false" Header="false" MasterPage="false" PageNumPos="false" />
						<PAGEDEF GutterType="LeftOnly" Height="84188" Landscape="0" Width="59528">
							<PAGEMARGIN Bottom="4251" Footer="4251" Gutter="0" Header="4251" Left="5669" Right="5669" Top="4251" />
						</PAGEDEF>
						<FOOTNOTESHAPE>
							<AUTONUMFORMAT SuffixChar=")" Superscript="false" Type="Digit" />
							<NOTELINE Length="5cm" Type="Solid" Width="0.12mm" />
							<NOTESPACING AboveLine="850" BelowLine="567" BetweenNotes="283" />
							<NOTENUMBERING NewNumber="1" Type="Continuous" />
							<NOTEPLACEMENT BeneathText="false" Place="EachColumn" />
						</FOOTNOTESHAPE>
						<ENDNOTESHAPE>
							<AUTONUMFORMAT SuffixChar=")" Superscript="false" Type="Digit" />
							<NOTELINE Length="14692344" Type="Solid" Width="0.12mm" />
							<NOTESPACING AboveLine="850" BelowLine="567" BetweenNotes="0" />
							<NOTENUMBERING NewNumber="1" Type="Continuous" />
							<NOTEPLACEMENT BeneathText="false" Place="EndOfDocument" />
						</ENDNOTESHAPE>
						<PAGEBORDERFILL FillArea="Paper" FooterInside="false" HeaderInside="false" TextBorder="true" Type="Both">
							<PAGEOFFSET Bottom="1417" Left="1417" Right="1417" Top="1417" />
						</PAGEBORDERFILL>
						<PAGEBORDERFILL FillArea="Paper" FooterInside="false" HeaderInside="false" TextBorder="true" Type="Even">
							<PAGEOFFSET Bottom="1417" Left="1417" Right="1417" Top="1417" />
						</PAGEBORDERFILL>
						<PAGEBORDERFILL FillArea="Paper" FooterInside="false" HeaderInside="false" TextBorder="true" Type="Odd">
							<PAGEOFFSET Bottom="1417" Left="1417" Right="1417" Top="1417" />
						</PAGEBORDERFILL>
					</SECDEF>
					<COLDEF Count="1" Layout="Left" SameGap="0" SameSize="true" Type="Newspaper" />
					<PAGENUM FormatType="Digit" Pos="BottomCenter" SideChar="-" />
					<CHAR />
				</TEXT>
			</P>
			<P ParaShape="12" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="12" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="12" Style="0">
				<TEXT CharShape="10">
					<PAGEHIDING HidePageNum="true" />
					<CHAR>사면변위 자동계측 상시운영</CHAR>
				</TEXT>
			</P>
			<P ParaShape="12" Style="0">
				<TEXT CharShape="10">
					<CHAR>보고서</CHAR>
				</TEXT>
			</P>
			<P ParaShape="12" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="12" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7">
					<CHAR>{{!--createDate--}}</CHAR>
				</TEXT>
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7" />
			</P>
			<P ParaShape="13" Style="0">
				<TEXT CharShape="7">
					<TABLE BorderFill="2" CellSpacing="0" ColCount="2" PageBreak="None" RepeatHeader="true" RowCount="1">
						<SHAPEOBJECT InstId="1501559751" Lock="false" NumberingType="Table" ZOrder="0">
							<SIZE Height="6316" HeightRelTo="Absolute" Protect="false" Width="42337" WidthRelTo="Absolute" />
							<POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Para" TreatAsChar="true" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
							<OUTSIDEMARGIN Bottom="140" Left="140" Right="140" Top="140" />
						</SHAPEOBJECT>
						<INSIDEMARGIN Bottom="140" Left="140" Right="140" Top="140" />
						<ROW>
							<CELL BorderFill="3" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="6316" Protect="false" RowAddr="0" RowSpan="1" Width="10099">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="13" Style="0">
										<TEXT CharShape="12">
											<CHAR>운영 기간</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="3" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="6316" Protect="false" RowAddr="0" RowSpan="1" Width="32238">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="12" Style="0">
										<TEXT CharShape="0">
											<CHAR>{{!--startDate--}} ~ {{!--endDate--}}</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
						</ROW>
					</TABLE>
					<CHAR />
				</TEXT>
			</P>
			<P ColumnBreak="false" PageBreak="true" ParaShape="16" Style="14">
				<TEXT CharShape="6">
					<NEWNUM Number="0" NumberType="Page" />
					<NEWNUM Number="1" NumberType="Page" />
					<CHAR>1. 개 요  </CHAR>
				</TEXT>
			</P>
			<P ParaShape="17" Style="15">
				<TEXT CharShape="11">
					<TABLE BorderFill="4" CellSpacing="0" ColCount="3" PageBreak="Cell" RepeatHeader="true" RowCount="4">
						<SHAPEOBJECT InstId="1501559811" Lock="false" NumberingType="Table" ZOrder="1">
							<SIZE Height="15471" HeightRelTo="Absolute" Protect="false" Width="47622" WidthRelTo="Absolute" />
							<POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Para" TreatAsChar="true" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
							<OUTSIDEMARGIN Bottom="140" Left="140" Right="140" Top="140" />
						</SHAPEOBJECT>
						<INSIDEMARGIN Bottom="141" Left="510" Right="510" Top="141" />
						<ROW>
							<CELL BorderFill="7" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="0" RowSpan="1" Width="9365">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="18" Style="0">
										<TEXT CharShape="15">
											<CHAR>상시운영</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="5" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="0" RowSpan="1" Width="22383">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="12" Style="0">
										<TEXT CharShape="15">
											<CHAR>내용</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="8" ColAddr="2" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="0" RowSpan="1" Width="15874">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="12" Style="0">
										<TEXT CharShape="15">
											<CHAR>비고</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
						</ROW>
						<ROW>
							<CELL BorderFill="13" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="1" RowSpan="1" Width="9365">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P InstId="2575301648" ParaShape="18" Style="0">
										<TEXT CharShape="15">
											<CHAR>목 적</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="14" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="1" RowSpan="1" Width="22383">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="3" Style="0">
										<TEXT CharShape="24">
											<CHAR>사면변위 자동계측 상시 운영 보고</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="15" ColAddr="2" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="1" RowSpan="1" Width="15874">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="3" Style="0">
										<TEXT CharShape="15" />
									</P>
								</PARALIST>
							</CELL>
						</ROW>
						<ROW>
							<CELL BorderFill="16" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="2" RowSpan="1" Width="9365">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="18" Style="0">
										<TEXT CharShape="15">
											<CHAR>기간</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="17" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="2" RowSpan="1" Width="22383">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="12" Style="0">
										<TEXT CharShape="23">
											<CHAR>2020.11.15 ~ 2020.12.15</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="18" ColAddr="2" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="2" RowSpan="1" Width="15874">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="3" Style="0">
										<TEXT CharShape="15" />
									</P>
								</PARALIST>
							</CELL>
						</ROW>
						<ROW>
							<CELL BorderFill="19" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="3" RowSpan="1" Width="9365">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="18" Style="0">
										<TEXT CharShape="15">
											<CHAR>주소</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="20" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="3" RowSpan="1" Width="22383">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="3" Style="0">
										<TEXT CharShape="24">
											<CHAR>{{!--installPlace--}}</CHAR>
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
							<CELL BorderFill="21" ColAddr="2" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3763" Protect="false" RowAddr="3" RowSpan="1" Width="15874">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="3" Style="0">
										<TEXT CharShape="15" />
									</P>
								</PARALIST>
							</CELL>
						</ROW>
					</TABLE>
					<CHAR />
				</TEXT>
			</P>
			<P ParaShape="17" Style="15">
				<TEXT CharShape="9" />
			</P>
			<P ParaShape="15" Style="14">
				<TEXT CharShape="6">
					<CHAR>2. 설치위치 </CHAR>
				</TEXT>
			</P>
			<P ParaShape="17" Style="15">
				<TEXT CharShape="9">
					<PICTURE Reverse="false">
						<SHAPEOBJECT InstId="1523842020" Lock="false" NumberingType="Figure" ZOrder="8">
							<SIZE Height="29419" HeightRelTo="Absolute" Protect="false" Width="47287" WidthRelTo="Absolute" />
							<POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Column" TreatAsChar="true" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
							<OUTSIDEMARGIN Bottom="0" Left="0" Right="0" Top="0" />
						</SHAPEOBJECT>
						<SHAPECOMPONENT CurHeight="29419" CurWidth="47287" GroupLevel="0" HorzFlip="false" InstID="450100197" OriHeight="54360" OriWidth="87360" VertFlip="false" XPos="0" YPos="0">
							<ROTATIONINFO Angle="0" CenterX="23643" CenterY="14709" />
							<RENDERINGINFO>
								<TRANSMATRIX E1="1.00000" E2="0.00000" E3="0.00000" E4="0.00000" E5="1.00000" E6="0.00000" />
								<SCAMATRIX E1="0.54129" E2="0.00000" E3="0.00000" E4="0.00000" E5="0.54119" E6="0.00000" />
								<ROTMATRIX E1="1.00000" E2="0.00000" E3="0.00000" E4="0.00000" E5="1.00000" E6="0.00000" />
							</RENDERINGINFO>
						</SHAPECOMPONENT>
						<IMAGERECT X0="0" X1="87360" X2="87360" X3="0" Y0="0" Y1="0" Y2="54360" Y3="54360" />
						<INSIDEMARGIN Bottom="0" Left="0" Right="0" Top="0" />
						<IMAGE Alpha="0" BinItem="1" Bright="0" Contrast="0" Effect="RealPic" />
						<EFFECTS />
					</PICTURE>
					<CHAR />
				</TEXT>
			</P>
			<P ParaShape="17" Style="15">
				<TEXT CharShape="11" />
			</P>
			<P ParaShape="17" Style="15">
				<TEXT CharShape="11">
					<CHAR></CHAR>
				</TEXT>
				<TEXT CharShape="13" />
			</P>
			<P ColumnBreak="false" PageBreak="true" ParaShape="15" Style="14">
				<TEXT CharShape="6">
					<CHAR>3 분 석 </CHAR>
				</TEXT>
			</P>
			<P InstId="2575301658" ParaShape="16" Style="14">
				<TEXT CharShape="6">
					<CHAR> 3.1 강우량 분석 </CHAR>
				</TEXT>
			</P>
			<P ParaShape="20" Style="0">
				<TEXT CharShape="16">
					<CHAR> ㅇ</CHAR>
				</TEXT>
				<TEXT CharShape="17">
					<CHAR> 강 우 량 ( 1일 단위 누적 강우량 ) </CHAR>
				</TEXT>
			</P>
			<P ParaShape="20" Style="0">
				<TEXT CharShape="17">
					<TABLE BorderFill="4" CellSpacing="0" ColCount="1" PageBreak="Cell" RepeatHeader="true" RowCount="1">
						<SHAPEOBJECT InstId="1501559836" Lock="false" NumberingType="Table" ZOrder="2">
							<SIZE Height="12036" HeightRelTo="Absolute" Protect="false" Width="47624" WidthRelTo="Absolute" />
							<POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Para" TreatAsChar="true" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
							<OUTSIDEMARGIN Bottom="140" Left="140" Right="140" Top="140" />
						</SHAPEOBJECT>
						<INSIDEMARGIN Bottom="141" Left="510" Right="510" Top="141" />
						<ROW>
							<CELL BorderFill="4" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="12036" Protect="false" RowAddr="0" RowSpan="1" Width="47624">
								<PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
									<P ParaShape="12" Style="0">
										<TEXT CharShape="8">
											<PICTURE Reverse="false">
												<SHAPEOBJECT InstId="1518008654" Lock="false" NumberingType="Figure" TextWrap="TopAndBottom" ZOrder="5">
													<SIZE Height="12098" HeightRelTo="Absolute" Protect="false" Width="46604" WidthRelTo="Absolute" />
													<POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Column" TreatAsChar="false" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
													<OUTSIDEMARGIN Bottom="0" Left="0" Right="0" Top="0" />
												</SHAPEOBJECT>
												<SHAPECOMPONENT CurHeight="6898" CurWidth="46604" GroupLevel="0" HorzFlip="false" InstID="444266831" OriHeight="10740" OriWidth="72540" VertFlip="false" XPos="0" YPos="0">
													<ROTATIONINFO Angle="0" CenterX="23302" CenterY="3449" />
													<RENDERINGINFO>
														<TRANSMATRIX E1="1.00000" E2="0.00000" E3="0.00000" E4="0.00000" E5="1.00000" E6="0.00000" />
														<SCAMATRIX E1="0.64246" E2="0.00000" E3="0.00000" E4="0.00000" E5="0.64227" E6="0.00000" />
														<ROTMATRIX E1="1.00000" E2="0.00000" E3="0.00000" E4="0.00000" E5="1.00000" E6="0.00000" />
													</RENDERINGINFO>
												</SHAPECOMPONENT>
												<IMAGERECT X0="0" X1="72540" X2="72540" X3="0" Y0="0" Y1="0" Y2="10740" Y3="10740" />
												<INSIDEMARGIN Bottom="0" Left="0" Right="0" Top="0" />
												<IMAGE Alpha="0" BinItem="2" Bright="0" Contrast="0" Effect="RealPic" />
												<EFFECTS />
											</PICTURE>
											<CHAR />
										</TEXT>
									</P>
								</PARALIST>
							</CELL>
						</ROW>
					</TABLE>
					<CHAR />
				</TEXT>
			</P>
			<P ParaShape="21" Style="14">
				<TEXT CharShape="6" />
			</P>
			<P ParaShape="21" Style="14">
				<TEXT CharShape="6">
					<CHAR> 3.2 성과 분석 </CHAR>
				</TEXT>
				<TEXT CharShape="20">
					<CHAR>
						<LINEBREAK />
					</CHAR>
				</TEXT>
			</P>
            {{!--#sensorItems--}}
                <P ParaShape="20" Style="0">
                    <TEXT CharShape="16">
                        <CHAR> ㅇ</CHAR>
                    </TEXT>
                    <TEXT CharShape="17">
                        <CHAR> ({{!--uniqueId--}}번) 수위변화 ( 1일 단위 평균 값 ) </CHAR>
                    </TEXT>
                    <TEXT CharShape="21">
                        <CHAR></CHAR>
                    </TEXT>
                </P>
                <P ParaShape="20" Style="0">
                    <TEXT CharShape="17">
                        <TABLE BorderFill="4" CellSpacing="0" ColCount="1" PageBreak="Cell" RepeatHeader="true" RowCount="1">
                            <SHAPEOBJECT InstId="1501559838" Lock="false" NumberingType="Table" ZOrder="3">
                                <SIZE Height="12036" HeightRelTo="Absolute" Protect="false" Width="47624" WidthRelTo="Absolute" />
                                <POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Para" TreatAsChar="true" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
                                <OUTSIDEMARGIN Bottom="140" Left="140" Right="140" Top="140" />
                            </SHAPEOBJECT>
                            <INSIDEMARGIN Bottom="141" Left="510" Right="510" Top="141" />
                            <ROW>
                                <CELL BorderFill="4" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="12036" Protect="false" RowAddr="0" RowSpan="1" Width="47624">
                                    <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                        <P ParaShape="12" Style="0">
                                            <TEXT CharShape="8">
                                                <PICTURE Reverse="false">
                                                    <SHAPEOBJECT InstId="1518008666" Lock="false" NumberingType="Figure" TextWrap="TopAndBottom" ZOrder="6">
                                                        <SIZE Height="12098" HeightRelTo="Absolute" Protect="false" Width="46604" WidthRelTo="Absolute" />
                                                        <POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Column" TreatAsChar="false" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
                                                        <OUTSIDEMARGIN Bottom="0" Left="0" Right="0" Top="0" />
                                                    </SHAPEOBJECT>
                                                    <SHAPECOMPONENT CurHeight="6658" CurWidth="46604" GroupLevel="0" HorzFlip="false" InstID="444266843" OriHeight="10680" OriWidth="74760" VertFlip="false" XPos="0" YPos="0">
                                                        <ROTATIONINFO Angle="0" CenterX="23302" CenterY="3329" />
                                                        <RENDERINGINFO>
                                                            <TRANSMATRIX E1="1.00000" E2="0.00000" E3="0.00000" E4="0.00000" E5="1.00000" E6="0.00000" />
                                                            <SCAMATRIX E1="0.62338" E2="0.00000" E3="0.00000" E4="0.00000" E5="0.62341" E6="0.00000" />
                                                            <ROTMATRIX E1="1.00000" E2="0.00000" E3="0.00000" E4="0.00000" E5="1.00000" E6="0.00000" />
                                                        </RENDERINGINFO>
                                                    </SHAPECOMPONENT>
                                                    <IMAGERECT X0="0" X1="74760" X2="74760" X3="0" Y0="0" Y1="0" Y2="10680" Y3="10680" />
                                                    <INSIDEMARGIN Bottom="0" Left="0" Right="0" Top="0" />
                                                    <IMAGE Alpha="0" BinItem="{{!--id--}}" Bright="0" Contrast="0" Effect="RealPic" />
                                                    <EFFECTS />
                                                </PICTURE>
                                                <CHAR />
                                            </TEXT>
                                        </P>
                                    </PARALIST>
                                </CELL>
                            </ROW>
                        </TABLE>
                        <CHAR />
                    </TEXT>
                </P>
                <P ParaShape="20" Style="0">
                    <TEXT CharShape="16">
                        <CHAR>ㅇ</CHAR>
                    </TEXT>
                    <TEXT CharShape="17">
                        <CHAR> ({{!--uniqueId--}}번) 운영현황 </CHAR>
                    </TEXT>
                </P>
                    <P ParaShape="19" Style="0">
                        <TEXT CharShape="18">
                            <TABLE BorderFill="4" CellSpacing="0" ColCount="8" PageBreak="Cell" RepeatHeader="true" RowCount="{{!--rowCount--}}">
                                <SHAPEOBJECT InstId="1523842026" Lock="false" NumberingType="Table" TextWrap="TopAndBottom" ZOrder="9">
                                    <SIZE Height="20954" HeightRelTo="Absolute" Protect="false" Width="47891" WidthRelTo="Absolute" />
                                    <POSITION AffectLSpacing="false" AllowOverlap="false" FlowWithText="true" HoldAnchorAndSO="false" HorzAlign="Left" HorzOffset="0" HorzRelTo="Para" TreatAsChar="false" VertAlign="Top" VertOffset="0" VertRelTo="Para" />
                                    <OUTSIDEMARGIN Bottom="140" Left="140" Right="140" Top="140" />
                                </SHAPEOBJECT>
                                <INSIDEMARGIN Bottom="141" Left="510" Right="510" Top="141" />
                                <ROW>
                                    <CELL BorderFill="7" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="6306" Protect="false" RowAddr="0" RowSpan="3" Width="3684">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="19">
                                                    <CHAR>NO</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="5" ColAddr="1" ColSpan="6" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="1582" Protect="false" RowAddr="0" RowSpan="1" Width="38400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="19">
                                                    <CHAR>운영내역</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="8" ColAddr="7" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="6306" Protect="false" RowAddr="0" RowSpan="3" Width="5807">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="19">
                                                    <CHAR>비고</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                </ROW>
                                <ROW>
                                    <CELL BorderFill="23" ColAddr="1" ColSpan="3" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="1582" Protect="false" RowAddr="1" RowSpan="1" Width="19200">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="19">
                                                    <CHAR>시작</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="22" ColAddr="4" ColSpan="3" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="1582" Protect="false" RowAddr="1" RowSpan="1" Width="19200">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="19">
                                                    <CHAR>종료</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                </ROW>
                                <ROW>
                                    <CELL BorderFill="4" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3142" Protect="false" RowAddr="2" RowSpan="1" Width="6400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="22">
                                                    <CHAR>일시</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="4" ColAddr="2" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3142" Protect="false" RowAddr="2" RowSpan="1" Width="6400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="22">
                                                    <CHAR>수위(㎜)</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="23" ColAddr="3" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3142" Protect="false" RowAddr="2" RowSpan="1" Width="6400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="22">
                                                    <CHAR>20분 누적 강우량(㎜)</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="22" ColAddr="4" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3142" Protect="false" RowAddr="2" RowSpan="1" Width="6400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="22">
                                                    <CHAR>일시</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="4" ColAddr="5" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3142" Protect="false" RowAddr="2" RowSpan="1" Width="6400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="22">
                                                    <CHAR>수위(㎜)</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                    <CELL BorderFill="4" ColAddr="6" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3142" Protect="false" RowAddr="2" RowSpan="1" Width="6400">
                                        <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                            <P ParaShape="12" Style="0">
                                                <TEXT CharShape="22">
                                                    <CHAR>20분 누적 강우량(㎜)</CHAR>
                                                </TEXT>
                                            </P>
                                        </PARALIST>
                                    </CELL>
                                </ROW>
                                {{!--#operation--}}
                                    <ROW>
                                        <CELL BorderFill="9" ColAddr="0" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3662" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="3684">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P InstId="2575301648" ParaShape="12" Style="0">
                                                    <TEXT CharShape="25">
                                                        <CHAR>{{!--@index--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="4" ColAddr="1" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="2431" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="6800">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="22">
                                                        <CHAR>{{!--format start.measureTime 'yyyy-MM-dd HH:mm:ss'--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="4" ColAddr="2" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3662" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="6400">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="25">
                                                        <CHAR>{{!--start.rainfall--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="23" ColAddr="3" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3662" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="6400">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="25">
                                                        <CHAR>{{!--start.rainfallAcc--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="22" ColAddr="4" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="2431" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="6800">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="22">
                                                        <CHAR>{{!--format end.measureTime 'yyyy-MM-dd HH:mm:ss'--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="4" ColAddr="5" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3662" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="6400">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="25">
                                                        <CHAR>{{!--end.rainfall--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="4" ColAddr="6" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3662" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="6400">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="25">
                                                        <CHAR>{{!--end.rainfallAcc--}}</CHAR>
                                                    </TEXT>
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                        <CELL BorderFill="10" ColAddr="7" ColSpan="1" Dirty="false" Editable="false" HasMargin="false" Header="false" Height="3662" Protect="false" RowAddr="{{!--rowAddr @index 3--}}" RowSpan="1" Width="5807">
                                            <PARALIST LineWrap="Break" LinkListID="0" LinkListIDNext="0" TextDirection="0" VertAlign="Center">
                                                <P ParaShape="12" Style="0">
                                                    <TEXT CharShape="19" />
                                                </P>
                                            </PARALIST>
                                        </CELL>
                                    </ROW>
                            {{!--/operation--}}
                            </TABLE>
                            <CHAR />
                        </TEXT>
                    </P>
            {{!--/sensorItems--}}
		</SECTION>
	</BODY>
	<TAIL>
		<BINDATASTORAGE>
            {{!--#imageItems--}}
                <BINDATA Encoding="Base64" Id="{{!--id--}}" Size="7648772">{{!--base64--}}</BINDATA>
            {{!--/imageItems--}}
		</BINDATASTORAGE>
		<SCRIPTCODE Type="JScript" Version="1.0">
			<SCRIPTHEADER>var Documents = XHwpDocuments;
				var Document = Documents.Active_XHwpDocument;
			</SCRIPTHEADER>
			<SCRIPTSOURCE>
				function OnDocument_New() {
					//todo :
				}
			</SCRIPTSOURCE>
		</SCRIPTCODE>
	</TAIL>
</HWPML>